.search-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-bar > .search-bar-input {
    margin: 2rem;
    width: 80%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 1rem;
    outline: none;
}

.search-bar > .search-bar-input:focus, .search-bar-input:hover {
    border: 1px solid #1d911d;
}
