.header_adduser {
  background-color: rgb(229, 230, 230);
  width: 100%;
  height: 8em;
  border-radius: 0 10px 0 0;
}
.header_adduser h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000000;
  text-align: right;
  height: 100%;
  padding: 0 20px 0 0;
}
.header_adduser button {
  background-color: #a4a4a4;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-align: right;
  height: 100%;
  font-size: 28px;
}
.bt_h1 {
  padding-left: 20px;
}
.header_adduser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.form_wrap {
  padding-top: 20px;
}
