table,
th,
td {
  border: 1px solid black;}


th {
  color: brown;
}
table{
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    box-shadow: 10px;
    white-space: nowrap;
    width: 100%;
    max-width: 50em;
    
    margin: auto;
    overflow-x: auto;
    border-radius: 5px;
    
}
thead{
    background-color: #ccc;
    color: #222;
}
tbody tr:hover{
    background-color: #efcaca;
}


.search_ {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }



#search_bar{
   
    width: 50%;
  border: 3px solid #00b4cc;
  
  padding: 5px;
  height: 20px;
  border-radius: 50px;
  outline: none;
  color: #0c0107;
}
#serch_bar:focus {
    color: #1e0a01;
  }
.wrap{
    width: 100%;
    margin: 20px auto;
}
