table,
th,
td {
  border: 1px solid black;}


th {
  color: brown;
}

table{
    /*display: block;*/
    overflow: hidden;
    /*table-layout: fixed;
    border-collapse: collapse;*/
    box-shadow: 0px 10px 10px #ccc;
    box-shadow: 10px;
    white-space: nowrap;
    width: 50vw;
    /*max-width: 50em;*/
    
    
    margin: auto;
    overflow-x: auto;
    border-radius: 5px;
    
}
thead{
    background-color: #ccc;
    color: #222;
}
tbody tr:hover{
    background-color: #9f9e9e;
}



.search_ {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    
  }



#search_bar{
   
    width: 50%;
  border: 3px solid #00b4cc;
  
  padding: 5px;
  height: 30px;
  border-radius: 50px;
  outline: none;
  color: #0c0107;
  background-color: rgb(229, 230, 230);
}
#serch_bar:focus {
    color: #1e0a01;
  }
.wrap{
    width: 100%;
    margin: 20px auto;
}

.list_header{
  background-color: rgb(229, 230, 230);
  width: 100%;
  height: 8em;
  border-radius: 0 10px 0 0;
  
  
}
.list_header h1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000000;
  text-align: right;
  height: 100%;
  padding: 0 20px 0 0;
  
}
.bt_adduser{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 50px;
}
.bt_adduser button{
  font-size: 28px;
}