.header_profile{
    background-color: rgb(229, 230, 230);
    width: 100%;
    height: 8em;
    border-radius: 0 10px 0 0;
    
    
  }
  .header_profile h1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000000;
    text-align: right;
    height: 100%;
    padding: 0 20px 0 0;
    
  }
  .header_profile button{
    background-color: #a4a4a4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    text-align: right;
    height: 100%;
    font-size: 28px;
    
    
  }
  .bt_h1  {
    padding-left: 20px; 
    
  }
  .header_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*add css*/

  form{
    padding-top: 50px;
  }

  .form_wrap {
    max-width: 400px;
    margin: 0 auto;
    
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    
  }
  
  button {
    background-color: #e6e7e7;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
  }
  
  button:hover {
    background-color: #676767;
  }
  .bt_edit button{
    font-size: 24px;
    
   
  }
  
  
 
  .form_wrap div {
    margin-bottom: 15px;
  }
  
  .noneditable input{
    background-color: #989797;
  }
  .show_id {
    position: fixed; 
    bottom: 0;
    right: 0;
    /* margin: 50px;  */
    margin-bottom: 200px;
    margin-right: 50px;
  }
  