.sidenav-panel {
    background-color: #2c3e50;
    height: 100%;
    width: calc(5rem + 7vw);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-panel > .sidenav-panel-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: calc(1rem + 0.5vw);
    color: #818181;
    display: list-item;
}

.sidenav-panel > .sidenav-panel-item:hover {
    color: #f1f1f1;
}

.sidenav-panel > .sidenav-panel-item > .sidenav-panel-item-sub-container {
    display: none;
}

.sidenav-panel > .sidenav-panel-item:hover > .sidenav-panel-item-sub-container {
    display: block;
}

.sidenav-panel > .sidenav-panel-item > .sidenav-panel-item-sub-container > .sidenav-panel-item-sub {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: medium;
    color: #818181;
    display: block;
}

.sidenav-panel > .sidenav-panel-item > .sidenav-panel-item-sub-container > .sidenav-panel-item-sub:hover {
    color: #f1f1f1;
}

.sidenav-panel > .sidenav-panel-item > .sidenav-panel-item-sub-container > .sidenav-panel-item-sub:active {
    color: #be2f2f;
}